*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #908d8d;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(darkened.png);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 100px;
    height: 70px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
 nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #39c6df;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
 .haeder-text{
    margin-top: 20%;
    font-size: 30px; 
 }
 .haeder-text h1{
    font-size: 60px;
    margin-top: 20px;
 }
 .haeder-text h1 span{
    color: #8de8f6;
 }
 button{
    background-color: rgb(82, 229, 229);
 }
 /*----------------------------- price list-------------------- */





 /*------------------------------ vacancies------------------------- */

 .vacancies {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .vacancies h1 {
    font-size: 52px;
    margin-bottom: 20px;
  }
  
  .left {
    flex: 1;
    margin-right: 20px;
  }
  
  .left h2 {
    font-size: 64px;
    margin-bottom: 10px;
  }
  
  .left p {
    margin-bottom: 15px;
  }
  
  .left ul {
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 5px;
  }
  
  .right {
    flex: 1;
    padding-left: 50%;
  }
  
  .right h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .right form {
    display: flex;
    flex-direction: column;
  }
  
  .right input[type="text"],
  .right input[type="email"],
  .right input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .right button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .right button:hover {
    background-color: #0056b3;
  }
  
  #h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  /* ------------------contact ---------------------------*/
  .contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #4073da;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #2479f9;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #2460eb;
    transform: translateY(5px);
}
.btn.btn2{
    display: inline-block;
    background: #2b8fdb;
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width: 100%;
    border: 0%;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #3795ee;
}