*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(darkened.png);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 100px;
    height: 70px;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
 nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #39c6df;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
 .haeder-text{
    margin-top: 20%;
    font-size: 30px; 
 }
 .haeder-text h1{
    font-size: 60px;
    margin-top: 20px;
 }
 .haeder-text h1 span{
    color: #8de8f6;
 }
 button{
    background-color: rgb(82, 229, 229);
 }
 /*----------------------------- price list-------------------- */





 /*------------------------------ vacancies------------------------- */

 .vacancies {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .vacancies h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .left {
    flex: 1;
    margin-right: 20px;
  }
  
  .left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .left p {
    margin-bottom: 15px;
  }
  
  .left ul {
    margin-bottom: 15px;
  }
  
  .right {
    flex: 1;
  }
  
  .right h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .right form {
    display: flex;
    flex-direction: column;
  }
  
  .right input[type="text"],
  .right input[type="email"],
  .right input[type="number"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .right button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .right button:hover {
    background-color: #0056b3;
  }
  
  #h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  